body {
  margin:0;
  padding:0;
  font-family:helvetica;
  font-size:10pt;
}

#header, #footer {
  background-color:rgb(73,73,73);
  color:white;
  padding:10px;
}

#header {

}

#subheader {
  padding:10px;
  border-bottom:1px solid gray;
}

#container {
  width:900px;
  margin-left:auto;
  margin-right:auto;
}

#content {
  padding-bottom:80px;
  padding:10px;
}

.tab {
  padding:5px;
  display:inline-block;
  background-color:rgb(213,213,213);
  font-weight:bold;
  font-size:12pt;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  color:rgb(135,135,135);
}

.tab.active {
  color:rgb(219,7,19);
  background-color:rgb(245,245,245);
}

table {
  width:100%;
  border-collapse: collapse;
  border-left:7px solid rgb(219,7,19);
  
}

th, td {
    border: 1px solid black;
    padding:5px;
}

th {
  background-color:rgb(221,221,221);
}

th {
    text-align: left;
}